{% extends 'base.html.twig' %}

{% block body %}
    <section class="wrapper">
        <form method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <button>Se connecter</button>
        </form>
    </section>
{% endblock %}