@for $index from 1 through 13 {
  .mt-#{$index} {
    margin-top: calc(var(--default-space) * #{$index});
  }

  .mb-#{$index} {
    margin-bottom: calc(var(--default-space) * #{$index});
  }

  .gap-#{$index} {
    gap: calc(var(--default-space) * #{$index});
  }

  @media only screen and (min-width: 650px) {
    .ls-mt-#{$index} {
      margin-top: calc(var(--default-space) * #{$index});
    }

    .ls-mb-#{$index} {
      margin-bottom: calc(var(--default-space) * #{$index});
    }

    .ls-gap-#{$index} {
      gap: calc(var(--default-space) * #{$index});
    }
  }
}