.wrapper {
  width: 100%;
  padding-left: clamp(var(--default-space), calc(50% - var(--wrapper-width) / 2), calc(50% - var(--wrapper-width) / 2));
  padding-right: clamp(var(--default-space), calc(50% - var(--wrapper-width) / 2), calc(50% - var(--wrapper-width) / 2));
}

.wrapper-background {
  background-color: var(--background-color);
}

.wrapper-height {
  height: calc(100vh - (84px + 89px))
}

.wrapper-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 650px) {
  .wrapper-height {
    height: calc(100vh - (84px + 66px))
  }
}