<footer>
    <ul aria-label="Navigation footer">
        <li><a href="/">Question Fréquentes</a></li>
        <li><a href="/">Mentions Légales</a></li>
        <li><a href="/">Politique de confidentialité</a></li>
    </ul>
</footer>