:root {
  --font-size: 14px;
  --font-color: #222929;
  --focus-color: #257a7d;
  --title-color: #257a7d;
  --border-color: #257a7d;
  --font-height: 1.4;
  --default-space: 8px;
  --wrapper-width: 1040px;
}