:root {
  --font-size: 14px;
  --font-color: #222929;
  --primary-color: #257a7d;
  --alert-color: #9b2806;
  --secondary-color: #52989B;
  --background-color: #BADBCC1A;
  --font-height: 1.4;
  --default-space: 8px;
  --wrapper-width: 1200px;
}