<aside class="sidebar sidebar-icons">
    <a href="{{ path('admin_blog_index') }}" {{ current_path('blog') }} class="link__icon">
        <svg class="icon">
            <use xlink:href="/images/sprite.svg?logo#blog"></use>
        </svg>
        Blog
    </a>
    <a href="{{ path('admin_blog_index') }}" class="link__icon">
        <svg class="icon">
            <use xlink:href="/images/sprite.svg?logo#calendar"></use>
        </svg>
        Planing
    </a>
</aside>

