footer {
  ul {
    display: flex;
    justify-content: center;
    > li {
      margin-right: calc(var(--default-space) * 5);
      &:last-child {
        margin-right: 0;
      }
      a {
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;
        transition: .3s color;
        &:hover,
        &[aria-current] {
          color: var(--primary-color)
        }
      }
    }
  }
}