<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {{ asset_loader('main.js') }}
        {% endblock %}
    </head>
    <body>
    <div class="wrapper">
        {% include 'partials/_header.html.twig' %}
        {% block body %}{% endblock %}
    </div>
    {% include 'partials/_footer.html.twig' %}
    </body>
</html>
